<link rel="stylesheet" href="components/objectlogs/logs.css">

<div class='col-md-10 col-md-offset-2 col-sm-offset-3'>
     <div class='sub-header'>
        <h3 class='object-header'>{{ objectLogs.identifierValue || 'null' }}</h3>
    </div>

    <uib-tabset active='1'>
        <uib-tab ng-repeat='tab in objectLogs.tabs' index='$index' heading='{{ tab.title ? tab.title : false }}' ui-sref="{{ tab.stateRef ? tab.stateRef : false }}">
        </uib-tab>
    </uib-tabset>

    <br>

    <div class="table-responsive" ng-model='objectLogs.object' ng-init="objectLogs.tabs[0].active = true">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <td><strong>Week \ Fields</strong></td>
                    <td ng-repeat="field in objectLogs.fields | orderBy:'$index'">
                        {{ ::field }}
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='log in objectLogs.logs'>
                    <td>
                        <span class='log-date'>
                            {{ ::log.weekOf | date:'longDate' }}
                        </span>
                        <button class='btn btn-warning btn-xs btn-edit' ng-click='logform.$show()' ng-show='!logform.$visible'>
                            Edit
                        </button>
                        <div class='btn-toolbar' role='toolbar'>
                            <form editable-form name="logform" ng-show="logform.$visible" class="form-buttons form-inline" onaftersave='objectLogs.save()'>
                                <button type="submit" ng-disabled="logform.$waiting" class="btn btn-success btn-xs btn-group" role='group'>
                                    Save
                                </button>
                                <button type="button" ng-disabled="logform.$waiting" ng-click="logform.$cancel()" class="btn btn-default btn-xs btn-group" role='group'>
                                    Cancel
                                </button>
                            </form>
                        </div>
                    </td>

                    <td ng-repeat='logData in objectLogs.getLogDataByDate(log.weekOf)'>
                        <span editable-text='log.data.{{ ::logData.field }}' e-name='{{ ::logData.field }}' data-fieldEntry='{{ ::logData.field }}' e-form='logform' e-required>
                            {{ ::logData.value }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
