<link rel="stylesheet" href="styles/formErrors.scss">

<div class='error-message' ng-message='required'>
    You did not enter a First Name.
</div>

<div class='error-message' ng-message='minlength'>
    First Name must be at least 2 characters long.
</div>

<div class='error-message' ng-message='maxlength'>
    First Name cannot be more than 16 characters long.
</div>

<div class='error-message' ng-message='pattern'>
    First Name must contain only alphabetic characters and cannot contain whitespace.
</div>

