<link rel="stylesheet" href="styles/formErrors.scss">

<div class='error-message' ng-message='required'>
    You did not enter a Last Name.
</div>

<div class='error-message' ng-message='minlength'>
    Last Name must be at least 2 characters long.
</div>

<div class='error-message' ng-message='maxlength'>
   Last Name cannot be more than 16 characters long.
</div>

<div class='error-message' ng-message='pattern'>
    Last Name must contain only alphabetic characters and cannot contain whitespace.
</div>

