#client
client/node_modules
client/.tmp
client/.sass-cache
client/bower_components
client/coverage
client/app/env.js

#server
server/node_modules
server/db/config
server/config.json
server/db/scripts
