.identifier {
    font-size: 2.0em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal; 
    /*font-weight: lighter; */
}

.delete-obj {
    margin-top: 0.83em;
    float: right;
}