
  .btn.btn-social {
    margin-right: 7px;
    min-width: 100px;
  }
  .btn.btn-facebook {
    color: white;
    background-color: #3B5998;
    border-color: #37528C;
  }
  .btn.btn-facebook:hover,
  .btn.btn-facebook:focus {
    color: white;
    background-color: #2F487B;
    border-color: #2F487B;
  }
  .btn.btn-google {
    color: white;
    background-color: #dc4e41;
    border-color: #C1453A;
  }
  .btn.btn-google:hover,
  .btn.btn-google:focus {
    color: white;
    background-color: #C74539;
    border-color: #AF4138;
  }
  .sp-loading {
    text-align: center;
  }