<link rel='stylesheet' href='styles/addFieldModal.css'>

<div class="modal-header">
    <h3 class="modal-title" id='add-field-header'>Add field</h3>
    <button type="button" class='close' ng-click='close()' style='margin-top:-35px;'>
        &times;
    </button>
</div>

<div class="modal-body">
    <form novalidate role='form' name='form' ng-submit='submit()'>

        <!-- Choose field type -->
        <div class='form-group'>
            <div class='alert alert-info'>
                <h4 class='control-label'>Type</h4>
                <div class='radio'>
                    <label>
                        <input id='text' ng-model='field.type' value='text' type='radio' ng-change='setDataType(field.type)'>Text
                        <!-- <i class="fa fa-question-circle" tooltip=""></i> -->
                    </label>
                </div>
                <div class='radio'>
                    <label>
                        <input id='number' ng-model='field.type' value='number' type='radio' ng-change='setDataType(field.type)'>Number
                        <!-- <i class="fa fa-question-circle" tooltip=""></i> -->
                    </label>
                </div>
                <div class='radio'>
                    <label>
                        <input id='boolean' ng-model='field.type' value='boolean' type='radio' ng-change='setDataType(field.type)'>Boolean
                        <!-- <i class="fa fa-question-circle" tooltip="ex. yes/no, true/false"></i> -->
                    </label>
                </div>
            </div>
        </div>

        <!-- Choose field data type -->
        <div class='form-group' ng-show='field.type === "variable"'>
            <div class='alert alert-info'>
                <ul class='fieldTypes'>
                    <label class='control-label'>Field data type</label>
                    <li>
                        <label class='radio'>
                            <input ng-model='field.dataType' value='number' type='radio'>Number
                            <i class="fa fa-question-circle" tooltip='ex. 1234567890'></i>
                        </label>
                    </li>
                    <li>
                        <label class='radio'>
                            <input ng-model='field.dataType' value='text' type='radio'> Text
                            <i class="fa fa-question-circle" tooltip='ex. The quick brown fox jumps over the lazy dog.'></i>
                        </label>
                    </li>
                    <li>
                        <label class='radio'>
                            <input ng-model='field.dataType' value='boolean' type='radio'> Boolean
                            <i class="fa fa-question-circle" tooltip='ex. true/false, yes/no'></i>
                        </label>
                    </li>
                </ul>
            </div>
        </div>

        <div class='form-group'>
            <label for='field'>Name</label>

            <input name='field' type='text' class='form-control' ng-model='field.name' ng-required='true' ng-pattern="/^[a-zA-Z0-9_]*$/">
        </div>

        <div class='form-group' ng-show='field.type === "variable"'>
            <label for='value'>Value</label>
            <input name='value' class='form-control' ng-model='formData.value'>
        </div>

        <div ng-messages="form.field.$error" ng-show='form.field.$dirty && form.field.$invalid' class="alert alert-danger" role="alert">
            <div>
                Field must
                <ul>
                    <li>be alphanumeric</li>
                    <li>contain no special characters except _</li>
                    <li>contain no spaces</li>
                    <li>not be empty</li>
                </ul>
            </div>
        </div>

        <div id='field-name-exists-msg' ng-messages="form.field.$error" ng-show='form.field.$dirty && fieldNameAlreadyExists()' class="alert alert-danger" role="alert">
            <p>
                Error: Field name already exists.
            </p>
        </div>

    </form>
</div>

<div class="modal-footer">
    <button id='submit-field' class="btn btn-success" type="button" ng-click="submit()" ng-disabled='form.$invalid || invalidFieldType() || fieldNameAlreadyExists()'>Submit</button>
    <button class="btn btn-danger" type="button" ng-click="reset()">Reset</button>
    <button class='btn btn-default' type='button' ng-click='close()'>Close</button>
</div>
