<div class="modal-header">
    <h3 class="modal-title">Assign {{ ::objectType }}</h3>
    <button type="button" class='close' ng-click='close()' style='margin-top:-35px;'>
        &times;
    </button>
</div>

<div class="modal-body">
    <form novalidate role='form' name='form' ng-submit='submit()'>
        <div class='form-group'>
            Select <span ng-if='objIdentifier !== "fullName"'>{{ ::objIdentifier }}</span><span ng-if='objIdentifier === "fullName"'>Driver</span>
            <select class='form-control' ng-model='formData.objId'>
                <option ng-repeat='object in simpleObjects | orderBy:"id"' 
                value='{{ object.id }}'>
                    <!-- Do not show inactive cars -->
                    {{ ::object.identifierValue }}
                </option>
            </select>
        </div>

        <div class='form-group'>
            Date Assigned/Started
            <div class='btn-group' role='group'>
               <div class="input-group date-picker">
                    <input type="text" 
                        class="form-control" 
                        datepicker-popup="{{format}}" 
                        ng-model="dt" 
                        is-open="status.opened" 
                        max-date="maxDate" 
                        datepicker-options="dateOptions"  
                        ng-required="true" 
                        close-text="Close" /> 
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="open($event)">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </div>   
                </div>
            </div>
        </div>
    </form>

    <!-- <div>
        {{ formData.carId }}
        {{ dt }}
    </div> -->
</div>

<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="submit()" ng-disabled='validForm()'>Submit</button>
    <button class='btn btn-default' type='button' ng-click='close()'>Close</button>
</div>
