<link rel="stylesheet" type="text/css" href="styles/profile.css">

<div class='col-md-10 col-md-offset-2 col-sm-offset-3' ng-init='activateTab($state)'>
    <div class='sub-header'>
        <h3>{{ simpleCar.identifierValue }}</h3>
        <!-- <button class='btn btn-danger btn-xs delete-obj' ng-controller='DeleteObjModalCtrl' ng-click='open(lg, car.id)'>Delete</button> -->
    </div>

    <tabset>
        <tab ng-repeat='tab in tabs' heading='{{ tab.title }}' ui-sref='{{ tab.route }}'>
            <div ui-view></div>
        </tab>
    </tabset>
</div>