<link rel="stylesheet" href="styles/partials/_ptg.css">

<div class='col-md-10 col-md-offset-2 col-sm-offset-3'>
    <h1 class='page-header'>Mileage Log</h1>

    <div class='sub-header'>
        <button class='btn btn-success' ng-click='carLogs.newLog()'> Add Row </button>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" ng-model='carLogs.logs'>
            <thead>
                <tr>
                    <td><strong>Week \ Car</strong></td>
                    <td ng-repeat="car in carLogs.cars | orderBy:'id'">
                        {{ car.tlcNumber }}
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="log in carLogs.logs | orderBy:'-dateInMs'">
                    <td>
                        {{ log.date | date : format : shortDate }}
                    </td>
                    <td class='log-tablecell' ng-repeat="car in log.CarLogs | orderBy:'id'">
                        <ul class='log'>
                            <li>
                                Mileage: {{ car.mileage }}
                            </li>
                            <li>
                                Notes: {{ car.note }}
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>