<link rel='stylesheet' href='styles/deletemodal.css' />

<div class="modal-header">
    <h3 class="modal-title">
        Delete {{ ::objectType.toUpperCase() }}
    </h3>
    <button type="button" class='close' ng-click='close()' style='margin-top:-35px;'>
        &times;
    </button>
</div>

<div class="modal-body">
    <form novalidate role='form'>
        <div class='form-group'>
            <label for='input'>
                Deleting this will apply to ALL {{ ::objectType }}s and is irreversible. Enter "DELETE" below to confirm you want to permanently delete it from ALL {{objectType}}s:
            </label>
            <input class='form-control delete-confirmation' type='text' ng-model='input'>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="close()">
        Cancel
    </button>
    <button class='btn btn-danger' type='button' ng-click='submit()' ng-disabled="input !== 'DELETE'">
        Delete
    </button>
</div>
