<div class='col-md-offset-2 table-responsive' id='drivers-list'>
    <h2 class='page-header'>Drivers</h2>

    <br>

    <table class='table table-striped'>
        <thead>
            <td>
                <button type='button' class='btn btn-success' data-toggle='modal' ng-controller='AddObjectModalCtrl' ng-click='open()'>
                    + Driver
                </button>
            </td>
            <td>
                <h4 ng-if='thereAreDrivers()'>Name</h4>
                <h4 ng-if='!thereAreDrivers()'>No drivers currently.</h4>
            </td>
        </thead>
        <tbody>
            <tr ng-repeat='driver in drivers | orderBy:"id"'>
                <td>
                    <h4>{{ ::$index+1 }}</h4>
                </td>
                <td>
                    <h4>
                        <a ui-sref='driverProfile.data({ id: driver.id })'>
                            {{ ::driver.data["fullName"].value }}
                        </a>
                    </h4>
                </td>
            </tr>
        </tbody>
    </table>
</div>
