<link rel="stylesheet" href='styles/forms.scss'>
<link rel='stylesheet' href='styles/addFieldModal.css'>

<div class="modal-header">
    <h3 class="modal-title">Edit expression</h3>
    <button type="button" class='close' ng-click='close()' style='margin-top:-35px;'>
        &times;
    </button>
</div>
<!-- {{ formData }} -->
<div class="modal-body">
    <form novalidate role='form' name='form' ng-submit='submit()'>
        <div class='form-group'>
            <label for='field'>Name</label>

            <input name='field' type='text' class='form-control' ng-model='field.name' ng-required='true' ng-pattern="/^[a-zA-Z0-9_]*$/">
        </div>

        <!-- <div class='form-group' ng-show='field.type === "variable"'>
            <label for='value'>Value</label>
            <input name='value' class='form-control' ng-model='formData.value'>
        </div> -->

        <div class='form-group'>
            <div class='well'>
                <h4>Function creator</h4><br>

                <h5 class='function'>{{ field.expression }}</h5><br>

                <div class='btn-toolbar' role='toolbar'>

                    <button class='btn btn-warning operator' type='button' ng-click='appendItemToFunction("+", "operator")'>+</button>

                    <button class='btn btn-warning operator' type='button' ng-click='appendItemToFunction("-", "operator")'>-</button>
                    
                    <button class='btn btn-warning operator' type='button' ng-click='appendItemToFunction("*", "operator")'>*</button>

                    <button class='btn btn-warning operator' type='button' ng-click='appendItemToFunction("/", "operator")'>/</button>

                    <button class='btn btn-warning operator' type='button' ng-click='appendItemToFunction("(", "operator")'>(</button>

                    <button class='btn btn-warning operator' type='button' ng-click='appendItemToFunction(")", "operator")'>)</button>

                    <div class='undoAndClear'>
                        <button class='btn btn-primary undo' type='button' ng-click='undoFunction()'>Undo</button>
                        <button class='btn btn-danger clear' type='button' ng-click='clearFunction()'>Clear</button>
                    </div>
                </div><br>

                <label>
                    Constant
                    <i class="fa fa-question-circle" tooltip='Add a constant number to the function'></i>
                </label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn" type="button" ng-click='appendItemToFunction(functionConstantInput.value, "constant")' ng-disabled='form.functionConst.$dirty && form.functionConst.$invalid'>+</button>
                    </span>
                    <input name='functionConst' type="text" class="form-control" ng-model='functionConstantInput.value' ng-pattern="/^[0-9]\d*(\.\d+)?$/">
                    <!-- regex patterns for constant -->
                    <!-- ^[1-9]\d*(\.\d+)?$ -->
                    <!-- /^[0-9]*$/ -->
                </div><br><!-- /input-group -->

                <label>
                    Fields
                    <i class="fa fa-question-circle" tooltip='Add an existing field to the function'></i>
                </label>
                <select class='form-control' ng-model='functionFieldSelect.value' ng-change='appendItemToFunction(functionFieldSelect.value, "field")'>
                    <option ng-repeat='field in validFieldsForExpressions' value='{{ ::field }}'>{{ ::field }}</option>
                </select>
            </div>
        </div>

        <div ng-messages="form.field.$error" ng-show='form.field.$dirty && form.field.$invalid' class="alert alert-danger" role="alert">
            <div>
                Field must
                <ul>
                    <li>be alphanumeric</li>
                    <li>contain no special characters except _</li>
                    <li>contain no spaces</li>
                </ul>
            </div>
        </div>

        <div ng-messages="form.functionConst.$error" ng-show='form.functionConst.$dirty && form.functionConst.$invalid' class="alert alert-danger" role="alert">
            <div>
                Constant must
                <ul>
                    <li>be a number</li>
                    <li>include at least one digit following a decimal point</li>
                </ul>
            </div>
        </div>

        <div ng-if='!validFunction' class="alert alert-danger" role="alert">
            <div id='expression-error-message' ng-if='expressionErrorMessage'>
                <h4>Function error(s):</h4>
                <ul>
                    <li>{{ expressionErrorMessage }}</li>
                </ul>
            </div>
            <br>
            <div id='general-expression-rules'>
                <h4>Function must</h4>
                <ul>
                    <li>not end or begin with a mathematical operator</li>
                    <li>contain a mathematical operator between any two values</li>
                    <li>not contain unclosed parentheses</li>
                </ul>
            </div>
        </div>

    </form>
</div>

<div class="modal-footer">
    <button class='btn btn-danger' type='button' ng-click='delete(lg, { "field": field.name })' style='float: left;'>DELETE</button>
  <button class="btn btn-success" type="button" ng-click="submit()" ng-disabled='form.field.$invalid || !validFunction'>Submit</button>
  <button class="btn btn-danger" type="button" ng-click="reset()">Reset</button>
  <button class='btn btn-default' type='button' ng-click='close()'>Close</button>
</div>


