<div class='col-md-5 col-md-offset-2' ng-model='cars'>
  <h2 class="sub-header">Cars</h2>
  <div class="table-responsive" ng-repeat='car in cars'>
    <table class="table">
      <tbody>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <h3 class='car'>{{ car.tlcNumber }}</h3>
              <th>Name</th>
            </thead>
            <tbody>
              <tr ng-repeat='driver in car.Drivers'>
                <td>{{ driver.givenName }} {{ driver.surName }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </tbody>
    </table>
  </div>
</div>

<div class='col-md-5'>
  <h2 class='sub-header'>Callers</h2>
  <div class='table-responsive'>
    <table class='table'>
      <tbody>

      </tbody>
    </table>
  </div>
</div>

