<!-- Collapsed car list becomes a button -->
<!-- <div class='col-md-offset-2 col-md-1 col-collapsed' ng-show='driverListCollapsed' ng-click="reload()" type='button'>
  <div class='row row-collapsed'>
    <p class='fa fa-caret-right fa-3x btn-expand'></p>
  </div>
</div> -->

<!-- Collapsed prospect list becomes a button -->
<!-- <div class='col-md-offset-11 col-md-1 col-collapsed' ng-show='prospectListCollapsed' ng-click="reload()" type='button'>
  <div class='row row-collapsed'>
    <p class='fa fa-caret-left fa-3x btn-expand'></p>
  </div>
</div> -->

<!-- change to col-md-5 : !prospectListCollapsed when prospect list is operational -->
<div ng-class="{ 'col-md-9' : prospectListCollapsed, 'col-md-10' : !prospectListCollapsed  }" class='table-responsive col-md-offset-2 table-responsive col-collapsible' id='car-list' collapse='driverListCollapsed' if-user>  
  <h2 class='sub-header'>
      Cars
    <!-- <div class='add-btn' ng-controller="CarFormModalCtrl"> -->
    <span style='margin-left:4vw;'>
     <!--  <button type='button' class='btn btn-success' data-toggle='modal' ng-click='open(lg)'>
        +
      </button> -->
    </span>
      <!-- </div> -->
  </h2>
  <button type='button' class='btn btn-success' data-toggle='modal' ng-click='open(lg)'>
    + Car
  </button>
  <table class='table table-striped'>
    <thead>
      <td><h4>#</h4></td>
      <td><h4>Car</h4></td>
    </thead>
    <tbody ng-model='cars'>
      <tr ng-repeat='car in cars | orderBy:"car.id"'>
        <td>
          <h4>
            {{ $index+1 }}
          </h4>
        </td>
        <td>
          <h4>
            <a ui-sref='carProfile.data({ id: car.id })'>
              {{ car.data.licensePlate.value }}
            </a>

            <!-- <span>
              <button class='btn btn-xs btn-warning' ng-click='main.oilChanged(car.id)' ng-show='car.oilChangeRequired'>
                Oil Changed
              </button>
            </span> -->

          </h4>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div ng-class="{ 'col-md-offset-3' : driverListCollapsed, 'col-md-9' : driverListCollapsed, 'col-md-5' : !driverListCollapsed }" id='prospect-list' ng-model='prospects' collapse='prospectListCollapsed' class='col-collapsible' if-user>

  <h2 class='sub-header'>
    Prospects
    <span class='btn-collapse' ng-show='!driverListCollapsed'>
      <i class='fa fa-caret-right' type='button' ng-click='prospectListCollapsed = !prospectListCollapsed'></i>
    </span>
  </h2>

  <div class='row'>
    <div class='col-md-5 prospect-actions' ng-controller="ProspectFormModalCtrl">
      
      <button type='button' class='btn btn-success' data-toggle='modal' ng-click='open(lg)'>+ Prospect</button>
    </div>
  </div>

  <div class='table-responsive' ng-repeat='status in prospectStatuses'>
    <table class='table'>
      <thead>
        <h3>{{ status }}</h3>
        <th></th>
        <th>Name</th>
        <th>Notes</th>
        <th>TLC</th>
        <th>DMV</th>
        <th>Points</th>
        <th>Accidents</th>
        <th>Shift</th>
        <th>Address</th>
      </thead>
      <tbody class='prospect-status' data-status='{{ status }}' data-list='prospect'>
          <tr class='dropfix'>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class='person-row' ng-repeat="prospect in prospects | filter:status" data-id='{{ prospect.id }}' data-status='{{ prospect.status }}' repeat-finished>
            <td>
              <ul class='row-actions'>
              <li class='drag-handle'>::</li>
              <li class='filler'> </li>
              <li type='button' class='fa fa-pencil-square-o' data-toggle='modal' ng-controller='PersonEditFormModalCtrl' ng-click='open(lg, prospect, "Prospect")'>
              </li>  
            </ul>
            </td>
            <td>
                {{ prospect.givenName }} {{ prospect.middleInitial }}<span ng-show='prospect.middleInitial'>.</span> {{ prospect.surName }}
            </td>
            <td>
                {{ prospect.description }}
            </td>
            <td>
                {{ prospect.tlc }}
            </td>
            <td>
                {{ prospect.dmv }}
            </td>
            <td>
                {{ prospect.points }}
            </td>
            <td>
                {{ prospect.accidents }}
            </td>
            <td>
                {{ prospect.shift }}
            </td>
            <td>
                <a class='addressLink' href="https://maps.google.com/?q={{ prospect.address }}" target="_blank">{{ prospect.address }}</a>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>