<link rel="stylesheet" href="styles/partials/_ptg.css">

<div class='col-md-10 col-md-offset-2 col-sm-offset-3'>
    <h1 class='page-header'>Mileage Log</h1>

    <div class='sub-header'>
        <button class='btn btn-success' ng-click='maintenance.newLog()'> Add Row </button>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead ng-model='maintenance.cars'>
                <tr>
                    <td><strong>Week \ Car</strong></td>
                    <td ng-repeat="car in maintenance.cars | orderBy:'id'">
                        {{ car.tlcNumber }}
                    </td>
                </tr>
            </thead>
            <tbody ng-model='maintenance.logs'>
                <tr ng-repeat="log in maintenance.logs | orderBy:'-dateInMs'">
                    <td>
                        <span>{{ log.date | date : format : shortDate }}</span>
                        <button class='btn btn-warning btn-xs edit-btn' ng-click='rowform.$show()' ng-show='!rowform.$visible'>
                            Edit
                        </button>
                        <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="false">
                          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary btn-xs">
                            Save
                          </button>
                          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default btn-xs">
                            Cancel
                          </button>
                        </form>
                    </td>
                    <td class='log-tablecell' ng-repeat="car in log.CarLogs | orderBy:'id'">
                        <ul class='log'>
                            <li>
                                <p ng-show='rowform.$visible'>Mileage: </p>
                                <span editable-text='car.mileage' e-name='mileage' e-form='rowform' onaftersave='maintenance.updateLog(car)' e-required>
                                    Mileage: {{ car.mileage || ' ' }}
                                </span>
                            </li>
                            <li>
                                <p ng-show='rowform.$visible'>Notes: </p>
                                <span editable-textarea='car.note' e-name='note' e-form='rowform' e-required>
                                    Notes: {{ car.note || ' '}}
                                </span>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>