<h1 class="page-header">Dashboard</h1>

<h2 class="sub-header">Cars</h2>
<div class="table-responsive" ng-repeat='car in main.cars'>
  <table class="table">
    <tbody>
      <div class="table-responsive">
        <table class="table">
          <h4>{{ car.tlcNumber }}</h4>
          <thead>
            <th>Name</th>
          </thead>
          <tbody>
            <tr ng-repeat='driver in car.Drivers'>
              <td>{{ driver.givenName }} {{ driver.surName }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </tbody>
  </table>
</div>
