<link rel="stylesheet" href="styles/assetList.css">

<div class='col-md-offset-2 table-responsive' id='object-list'>

  <h2 class='page-header' ng-if='objectType === "car"'>{{ title.value }}s</h2>
  <h2 class='page-header' ng-if='objectType === "driver"'>{{ title.value }}s</h2>
  <h2 class='page-header' ng-if='objectType === "prospect"'>{{ title.value }}s</h2>
  <h2 class='page-header' ng-if='objectType === "asset"'>{{ title.value }}s</h2>

  <br>

  <div ng-if='objectType === "car" || objectType === "driver"'>
    <table class='table table-striped'>
      <thead>
        <td>
          <button type='button' class='btn btn-success' data-toggle='modal' ng-click='addObject()'>
            + {{ title.value }}
          </button>
        </td>
        <td>
          <h4 ng-if='thereAreObjects()'>{{ ::simpleObjects[0].identifier }}</h4>
        </td>
      </thead>
      <tbody>
        <tr ng-repeat='object in simpleObjects | orderBy:"id"'>
          <td>
            <h4>{{ ::$index+1 }}</h4>
          </td>
          <td>
            <h4>
              <a ui-sref='{{ profile.state }}'>
                {{ ::object.identifierValue }}
              </a>
            </h4>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Prospect List -->
  <div ng-if='objectType === "prospect"'>
    <div>
        <button class='btn btn-success' data-toggle='modal' ng-click='addObject()'>
            + Prospect
        </button>
        <button class='btn btn-success' ng-click='addStatus()'>
            + Status
        </button>
    </div>

    <div ng-repeat='status in statuses'>
        <h3>
            <span ng-show='!rowform.$visible'>
                {{ ::status.value }}
            </span>

            <span ng-show='rowform.$visible'>Name: </span>
            <span editable-text='status.value' e-name='name' e-form='rowform' onbeforesave='saveStatusName()' ng-show='rowform.$visible'>
                {{ status.value }}
            </span>

            <span ng-show='rowform.$visible'>Order: </span>
            <span ng-show='rowform.$visible' e-form='rowform'>
                <select ng-model='statusOrder[$index]'>
                    <option ng-repeat='status in statuses' value='{{ ::$index }}'>
                        {{ ::$index+1 }}
                    </option>
                </select>
            </span>

            <button ng-click='rowform.$show()' ng-show='!rowform.$visible' class='btn btn-xs btn-warning' style='float:right;'>
                Edit
            </button>

            <form editable-form name='rowform' onbeforesave='saveStatus($data, $index, status.value)' ng-show='rowform.$visible' class='form-buttons form-inline' style='float:right;'>
                <button type='submit' ng-disabled='rowform.$waiting' class='btn btn-primary btn-xs'>
                    Save
                </button>
                <button class='btn btn-xs btn-danger' ng-click='deleteStatus($index, status.value)' type='button' ng-if='!status.special'>
                    Delete
                </button>
                <button class='btn btn-xs btn-default' ng-click="rowform.$cancel()" type='button' ng-disabled='rowform.$waiting'>
                    Cancel
                </button>
            </form>
        </h3>
        <table class='table table-striped'>
            <tbody>
                <!-- filter prospects with status -->
                <tr ng-repeat='object in objects' ng-if='belongsToStatus(object, status)'>
                    <td>
                        <h4>
                            <a ui-sref='prospectData({ id: object.id })'>
                                <!-- {{ ::prospect.identifierValue }} -->
                                {{ ::object.data.Name.value }}
                            </a>
                        </h4>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
  </div>

  <!-- Assets List -->
  <div ng-if='objectType === "asset"'>

    <div>
      <button class='btn btn-success' data-toggle='modal' ng-click='addObject()'>
          + Asset
      </button>
      <button class='btn btn-success' ng-click='addType()'>
          + Type
      </button>
    </div><br>

    <accordion>
      <accordion-group ng-repeat='type in types'>
        <accordion-heading>
          {{ type.value }} <i class="pull-right fa fa-chevron-down"></i>
        </accordion-heading>
          <ul class='assetsOfType'>
            <li ng-repeat='asset in simpleObjects' ng-if='belongsToType(asset, type.value)'>
              <h4>
                <a ui-sref='assetData({ id: asset.id })'>
                  {{ ::asset.identifierValue }}
                </a>
              </h4>
            </li>
          </ul>
      </accordion-group>
    </accordion>
  </div>
</div>
