<div class='modal-header'>
  <h3 class='modal-title'>
    Edit {{ typeOfPerson }}
  </h3>
  <button type='button' class='close' ng-click='close()' style='margin-top:-35px;'>
    &times;
  </button>
  <div class='modal-body'>
    <form novalidate role='form' name='personEditForm'>

      <div class='form-group' ng-show='typeOfPerson === "Prospect"'>
        <label for='status'>Status</label>
        <select class='form-control' ng-model='formData.status'>
            <option> - </option>
            <option ng-repeat='status in prospectStatuses' value='{{ status }}'>{{ status }}</option>
        </select>
      </div>

      <div class='form-group' ng-show='typeOfPerson === "Driver"'>
        <label for='car'>Car</label>
        <select type='text' class='form-control' ng-options='car.licenseNumber for car in cars' ng-model='formData.car'>
        </select>
      </div>

      <div class='form-group' ng-show='typeOfPerson === "Driver"'>
        <label for='gasCard'>Gas Card</label>
        <select type='text' class='form-control' ng-options='card.number for card in gasCards' ng-model='formData.gasCard'>
        </select>
      </div>

      <div class='form-group' ng-show='typeOfPerson === "Driver"'>
        <label for='ezPass'>EZ Pass</label>
        <select type='text' class='form-control' ng-options='pass.number for pass in ezPasses' ng-model='formData.ezPass'>
        </select>
      </div>

      <!-- payRate validation -->
      <div class='error-message bg-danger' 
        ng-messages='personEditForm.payRate.$error' 
        ng-if='personEditForm.payRate.$dirty' 
        role='alert'>
        <div ng-messages-include='views/formMessages/payRate.html'></div>
      </div>

      <div class='form-group' ng-show='typeOfPerson === "Driver"'>
        <label for='payRate'>Pay Rate</label>
        <input name='payRate' type='text' class='form-control' ng-model='formData.payRate' placeholder='ex. 0-100' ng-pattern="/^(0|[1-9][0-9]?$|^100)$/">
      </div>

      <!-- givenName VALIDATION -->
      <div class='error-message bg-danger' 
          ng-messages='personEditForm.givenName.$error' 
          ng-if='personEditForm.givenName.$dirty'
          role='alert'>
          <div ng-messages-include='views/formMessages/givenName.html'></div>
      </div>

      <div class='form-group'>
        <label for='givenName'>First</label>
        <input name='givenName' type='text' class='form-control' ng-model='formData.givenName' placeholder='John' ng-minlength='2' ng-maxlength='16' ng-pattern='/^[a-zA-Z]*$/'>
      </div>

      <div class='form-group'>
        <label for='middleInitial'>Middle</label>
        <input type='text' class='form-control' ng-model='formData.middleInitial' placeholder='H'>
      </div>

      <!-- surName Validation -->
      <div class='error-message bg-danger' 
          ng-messages='personEditForm.surName.$error' 
          ng-if='personEditForm.surName.$dirty' 
          role='alert'>
          <div ng-messages-include='views/formMessages/surName.html'></div>
      </div>

      <div class='form-group'>
        <label for='surName'>Last</label>
        <input name='surName' type='text' class='form-control' ng-model='formData.surName' placeholder='Doe' ng-minlength='2' ng-maxlength='16' ng-pattern='/^[a-zA-Z]*$/'>
      </div>

      <!-- email validation -->
      <div class='error-message bg-danger' 
          ng-messages='personEditForm.email.$error' 
          ng-if='personEditForm.email.$dirty' 
          role='alert'>
          <div ng-messages-include='views/formMessages/email.html'></div>
      </div>

      <div class='form-group'>
          <label for='email'>Email</label>
          <input type='text' class='form-control' ng-model='formData.email' placeholder='xyz@email.com' ng-pattern='/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/'>
      </div>

      <!-- phone number validation -->
      <div class='error-message bg-danger' 
          ng-messages='personEditForm.phoneNumber.$error' 
          ng-if='personEditForm.phoneNumber.$dirty' 
          role='alert'>
          <div ng-messages-include='views/formMessages/phone.html'></div>
      </div>

      <div class='form-group'>
          <label for='phoneNumber'>Phone Number</label>
          <input type='text' class='form-control' ng-model='formData.phoneNumber'  placeholder='ex. 123-456-7890' ng-pattern="/^1?[-\. ]?(\(\d{3}\)?[-\. ]?|\d{3}?[-\. ]?)?\d{3}?[-\. ]?\d{4}$/">
      </div>

      <!-- Address -->
      <div class='form-group'>
            <label for='address'>Address</label>
            <input name='address' type='text' class='form-control' ng-model='formData.address' placeholder='1600 Pennsylvannia Ave NW, Washington DC 20006'>
        </div>
      <!-- Address -->
      
      <div class='form-group'>
          <label for='driversLicenseNum'>Driver License Number</label>
          <input type='text' class='form-control' ng-model='formData.driversLicenseNum' placeholder='123456789'>
      </div>
      <div class='form-group'>
        <label for='tlc'>TLC</label>
        <input type='text' class='form-control' ng-model='formData.tlc'>
      </div>
      <div class='form-group'>
        <label for='dmv'>DMV</label>
        <input type='text' class='form-control' ng-model='formData.dmv'>
      </div>
      <div class='form-group'>
        <label for='points'>Points</label>
        <input type='text' class='form-control' ng-model='formData.points' placeholder='Number ex. 12'>
      </div>
      <div class='form-group'>
        <label for='accidents'>Accidents</label>
        <input type='text' class='form-control' ng-model='formData.accidents' placeholder='Number ex. 0'>
      </div>
      <div class='form-group'>
        <label for='shift'>Shift</label>
        <input type='text' class='form-control' ng-model='formData.shift' placeholder='24/7'>
      </div>
      <div class='form-group'>
        <label for='paperwork'>Paperwork</label>
        <input type='text' class='form-control' ng-model='formData.paperwork'>
      </div>
      <label for='description'>Notes</label>
      <textarea ng-model='formData.description' type='text' class='form-control' rows='5' placeholder='Upstanding guy.'>
      </textarea>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="submit()" ng-disabled='personEditForm.$invalid'>Submit</button>
    <button class="btn btn-danger" type="button" ng-click="reset()">Reset</button>
    <button class='btn btn-default' type='button' ng-click='close()'>Close</button>
  </div>
</div>