<link rel="stylesheet" type="text/css" href="styles/tables.css">

<br>

<div class='btn-toolbar' role='toolbar'>
    <div class='btn-group' role='group'>
        <button class='btn btn-success' ng-click='open(lg)' ng-controller='AddFieldModalCtrl'>
            + Field
        </button>
    </div>
    <div class='btn-group' role='group'>
        <button class='btn btn-warning' ng-click='promote()'>
            Convert to driver
        </button>
    </div>
    <div class='btn-group' role='group' style='float:right;'>
        <button class='btn btn-danger' role='group' ng-click='open(prospect.id)' ng-controller='DeleteObjModalCtrl'>
            Delete
        </button>
    </div>
</div>

<br>

<!-- Data UI -->
<div class='table-responsive table-bordered'>
    <table class='table'>
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='(field, value) in prospect.data' ng-if='field !== "fullName"'>
                <td>
                    <span ng-if='!notNameOrStatus(field)'>
                        {{ field.capitalizeIfStatus() }}
                    </span>

                    <span id='{{ field }}' class='field-name' editable-text='field' e-name='name' e-form='rowform' ng-if='notNameOrStatus(field)' onbeforesave='queueUpdateFieldName($data, field)'>
                        {{ field }}
                    </span>
                </td>
                <td ng-if='notStatus(field)'>
                    <span editable-text='value.value' e-name='value' e-form='rowform' onbeforesave='updateFieldValue($data, field)'>
                        {{ value.value }}
                    </span>
                </td>
                <td ng-if='!notStatus(field)'>
                     <option e-form='rowform' e-name='status' editable-select='value.value' e-ng-options='status.value as status.value for status in statuses' onbeforesave='updateStatusInProspect($data)'>
                        {{ value.value }}
                    </option>
                </td>
                <td style='white-space: nowrap'>
                    <div class='btn-toolbar btn-edit' role='toolbar'>
                        <form editable-form name='rowform' ng-show='rowform.$visible' class='form-buttons form-inline' onaftersave='save($data, field)'>
                            <button type='submit' ng-disabled='rowform.$waiting' class='btn btn-success btn-xs'>
                                Save
                            </button>
                            <button type='button' ng-disabled='rowform.$waiting' ng-click='rowform.$cancel()' class='btn btn-default btn-xs'>
                                Cancel
                            </button>
                            <button class='btn btn-danger btn-xs' style='margin-left:1vw' data-toggle='modal' ng-click='open(lg, { "field": field })' ng-controller='DeleteFieldModalCtrl' ng-if='notNameOrStatus(field)'>
                                Delete
                            </button>
                        </form>
                    </div>
                    <div class='buttons' ng-show='!rowform.$visible'>
                        <button class='btn btn-warning btn-xs' ng-click='rowform.$show()'>Edit</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>