<link rel="stylesheet" href="styles/partials/_ptg.scss">

<h1 class="page-header">Driver Payout Record</h1>

<div class="table-responsive">
  <table class="table">
    <tbody>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <td><strong>Week \ Driver</strong></td>
              <td ng-repeat="driver in ptg.drivers">{{ driver.givenName }} {{driver.surName}}</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ptgLog in ptg.logs | orderBy:'ptgLog.dateInMs'">
              <td>{{ ptgLog.date | date : formet : shortDate }}</td>
              <td ng-repeat="driver in ptgLog.DriverLogs">
                <ul style='list-style-type:none; padding-left:0'>
                  <li>Uber: {{ driver.uberRevenue }}</li>
                  <li>Tolls: {{ driver.tollCosts }}</li>
                  <li>Gas: {{ driver.gasCosts }}</li>
                  <li>Deposit: {{ driver.deposit }}</li>
                  <li>Hours: {{ driver.hours }}</li>
                  <li>Acceptance: {{ driver.acceptRate }}%</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </tbody>
  </table>
</div>

<!-- ng-repeat="driverLog in ptgLog.DriverLogs | orderBy:'driverLog.givenName'" -->