<div class="modal-header">
    <h3 class="modal-title">Add {{ objectType }}</h3>
    <button type="button" class='close' ng-click='addObjectModal.close()' style='margin-top:-35px;'>
        &times;
    </button>
</div>

<div class="modal-body">

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
            <!-- opens add field modal -->
            <button class='btn btn-info' ng-click='addObjectModal.addField(identifier.value)' ng-disabled='addObjectModal.disableAddField()' name='addFieldBtn'>
                + Field
            </button>
        </div>
    </div>
    <!-- add field disabled: {{ disableAddField() }} -->
    <br ng-show='addObjectModal.disableAddField()'>

    <div class="alert alert-danger" role="alert" ng-show='addObjectModal.objectType === "asset" && addObjectModal.disableAddField()'>
        Please add an asset type before adding fields.
    </div>

    <br ng-show='!addObjectModal.disableAddField()'>

    <form novalidate role='form' id='newObjectForm' name='form' ng-submit='addObjectModal.submit($data)'>

        <div class='form-group' ng-if='addObjectModal.objectType === "asset"'>
            <label>Type</label>

            <select ng-model='addObjectModal.formData.assetType.value' class='form-control' ng-change='addObjectModal.renderForm(formData.assetType.value)'>
                <option ng-repeat='type in addObjectModal.assetTypes' value='{{ ::type.value }}'>{{ ::type.value }}</option>
            </select>
        </div>

        <!-- <h4 id='fields-header' ng-show="expressions.length">Fields</h4> -->
        <div class='form-group' ng-if='addObjectModal.forCarOrAsset()'>
            <label>Organize {{  addObjectModal.assetType.value || addObjectModal.objectType }}<span ng-if='!addObjectModal.formData.assetType'></span> with this identifier</label>

            <select ng-model='addObjectModal.identifier.value' class='form-control' ng-options='field for field in addObjectModal.fields' ng-if='field !== "assetType"'>
            </select>
        </div>

        <div class='form-group' ng-if='addObjectModal.objectType === "prospect"'>
            <label>Status</label>

            <select ng-model='addObjectModal.status.value' class='form-control'>
                <option ng-repeat='status in addObjectModal.statuses' value='{{ ::status.value }}' ng-if='!status.special'>{{ ::status.value }}</option>
            </select>
        </div>

        <div class='form-group' ng-repeat='(field, data) in addObjectModal.formData' ng-if='!addObjectModal.hide(field)'>
            <label for="{{ ::field }}" class='field-name-label'>{{ ::field }}</label>

            <input id='{{ ::field }}' name='{{ ::field }}' type='text' class='form-control field-value-input' ng-model="addObjectModal.formData[field].value" data-dataType='{{ ::data.dataType }}' ng-if='data.dataType === "text"' >

            <input id='{{ ::field }}' name='numberField' type='number' class='form-control' ng-model="addObjectModal.formData[field].value" data-dataType='{{ ::data.dataType }}' ng-if='data.dataType === "number" || data.dataType === "monetary"' ng-pattern='/^[-+]?([0-9]*\.[0-9]+|[0-9]+)$/'>

            <br ng-if='data.dataType === "boolean"'>
            <input bs-switch
                ng-model="addObjectModal.formData[field].value"
                type="checkbox"
                switch-on-text="Yes"
                switch-off-text="No"
                switch-label=""
                switch-inverse='true'
                switch-off-color='primary'
                ng-if='data.dataType === "boolean"'
                class='boolean-field-switch'
                id='{{ ::field }}'
                name='{{ ::field }}'
                data-dataType='{{ ::data.dataType }}' >
        </div>

        <!-- Error messages -->
        <div id='add-object-error-msg' ng-messages="addObjectModal.form.numberField.$error" ng-show='addObjectModal.form.numberField.$dirty && addObjectModal.form.numberField.$invalid' class="alert alert-danger" role="alert">
            <p>
                Error: Non-number entered into number field.
            </p>
        </div>
    </form>
</div>

<div class="modal-footer">
  <button id='submit-object' class="btn btn-success" type="button" ng-click="addObjectModal.submit()" ng-disabled='!addObjectModal.disableConditions(formData) || addObjectModal.invalidIdentifier() || addObjectModal.form.numberField.$invalid'>Submit</button>
  <button class="btn btn-danger" type="button" ng-click="addObjectModal.reset()">Reset</button>
  <button class='btn btn-default' type='button' ng-click='addObjectModal.close()'>Close</button>
</div>
